@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
   <input name="postcode" class="postcode hint fl " id="postcode" type="text" placeholder="e.g W1W 5BB" autocomplete="on" />
@*   <input type="text" name="UserName" value="@ViewBag.UserName"   />
   <input type="text" name="UserName" value="@ViewBag.Status"  />*@

   Grp
</p>

<ul data-role="listview" data-theme="c" data-dividertheme="d" data-counttheme="e">
    <li data-role="list-divider">Navigation</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

    <li>@Html.TextBox("FirstName", ViewData["Grp"])</li>

    <li><a href="choose_town.html" data-transition="slidedown">  <h3> Some Sushis</h3></a></li>
	<li><a href="choose_town.html"  data-transition="slidedown"> <h3> A Pizza </h3></a></li>
	<li><a href="choose_town.html"  data-transition="slidedown">  <h3> A Kebap</h3></a></li>
	<li><a href="choose_town.html"  data-transition="slidedown">  <h3> A Burger</h3></a></li>
	<li><a href="choose_town.html"  data-transition="slidedown">  <h3> Some Nems </h3></a></li>
	<li><a href="choose_town.html"  data-transition="slidedown"> <img src="tradi.jpg"/> <h3> Something more traditional</h3></a></li>	
</ul>